@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow|Lobster);
canvas,
nav {
    position: absolute;
    top: 0
}

.mySection,
nav {
    background: #252044
}

#bean,
#myMenu,
#name,
canvas,
nav {
    position: absolute
}


/***************** nav **********************/

nav{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 60px;
  z-index: 99999;
  background: #252044;
}
#head .story,
#web {
    text-shadow: 1px 1px 2px rgba(153, 150, 150, 1)

}

a:hover,
h3 {
    text-decoration: underline
}

.group:after,
.section {
    clear: both
}

@font-face {
    font-family: Darleston;
    src: url(Darleston.otf)
}

canvas {
    margin-top: 10%;
    max-width: 100%;
    z-index: -999
}

* {
    color: #fff
}

nav {
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99999
}

#myMenu {
    right: 0;
    padding-right: 2%
}

a:hover {
    color: #19B5FE;
    cursor: pointer
}

li {
    display: inline-block;
    margin: 10px
}

a:-webkit-any-link {
    text-decoration: none
}

a:focus {
    outline: 0
}

#name {
    font-family: Darleston, sans-serif;
    font-size: 1.5em;
    top: 5px;
    left: 10px;
    text-align: center;
    line-height: 50px
}

.nameDown {
    color: #000
}

.nameTop {
    color: #fff
}

#name:hover {
    cursor: pointer;
    color: #19B5FE
}

body {
    margin: 0;
    background-color: #252044
}

p {
    max-width: 50%;
    margin-left: 25%;
    font-family: "Helvetica Neue", helvetica, sans-serif
}

.mySection {
    z-index: -9999
}

#testme {
    width: 200px;
    height: 200px;
    background: red
}

#bean,
.span_2_of_2 {
    width: 100%
}

#bean {
    top: 0;
    left: 0;
    z-index: -10;
    background: #252044
}

#head .story,
#title {
    text-align: center;
    position: relative
}

.showTime {
    opacity: 0
}

#web {
    margin-top: 0;
    font-family: 'Poiret One', cursive;
    font-size: 4em;
    text-align: center
}

#head {
    margin-top: 10%
}

#about h2 {
    margin-top: 20%;
    font-family: Darleston
}

#head .story {
    font-family: 'Poiret One';
    font-size: 2em;
    top: 0
}

.skills {
    font-size: 11px;
    font-family: Times
}

h3 {
    margin-top: 21%;
    text-align: center
}

#about {
    text-align: center;
    margin-bottom: 100px;
    max-width: 40%;
    margin-left: 30%
}

img {
    max-width: 90%;
    height: auto;
    margin-left: 5%
}

#contact {
    text-align: center;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.contactBack{
    background: url("../images/sydneysky.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h3.contactEnd {
    margin-top: 22%;
}
#contact h3:last-of-type {
    margin-top: 5%;
}
#contact h3,p{
      text-shadow: 1px 1px 2px rgba(19, 9, 9, 1);
}

.picture {
    max-width: 100%;
    height: auto
}

.section {
    padding: 0;
    margin: 0
}

.col {
    display: block;
    float: left;
    margin: 0
}

.col:first-child {
    margin-left: .8%
}

.group:after,
.group:before {
    content: "";
    display: table
}

.group {
    zoom: 1
}

.span_1_of_2 {
    width: 49.2%;
}

.toolSet{
    text-align: center;
}

@media only screen and (max-width:600px) {
    .col {
        margin: 1% 0
    }
    .col:first-child {
        margin-left: 0
    }
    h2.story {
        margin-top: 20%
    }
    .span_1_of_2,
    .span_2_of_2 {
        width: 100%
    }
}
