@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow|Lobster);

@font-face {
  font-family: Darleston;
  src:  url('Darleston.otf');
       
}

*{
  color: white;
}


/***************** nav **********************/

nav{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 60px;
  z-index: 99999;
  background: #252044;
}

#myMenu{
  position: absolute;
  right: 0;
  padding-right: 2%;
}

a:hover{
  color: #19B5FE;
  cursor: pointer;
}

.about:hover{
  color: #19B5FE;
}

li{
  display: inline-block;
  margin: 10px;
}

a:link:active, a:visited:active { 
    border: 0;
}

li:hover{
   color: #19B5FE;
  cursor: pointer;
}

#name{
  font-family: Darleston, sans-serif;
  position: absolute;
  font-size: 1.5em;
  top: 5px;
  left: 10px;
  text-align: center;
  line-height: 50px;
/*  height: 50px;
  width: 50px;*/
  border-radius: 20%;
}

.nameDown{
  /*border: 1px solid black;*/
  color: black;
}

.nameTop{
  /*border: 1px solid white;*/
  color: white;
}

#name:hover{
  cursor: pointer;
  color: #19B5FE;

}

/*.nameTop:hover{
  
  color: #19B5FE;
}

.nameDown:hover{
  
  color: #19B5FE;
}*/

/***************** nav **********************/

body{
  margin: 0;
  background-color: black;
}

canvas{
  position: absolute;
  top:0;
  margin-top: 10%;
  max-width: 100%;
  z-index: -999;
}

p{
  max-width: 50%;
  margin-left: 25%;
  font-family: "Helvetica Neue", helvetica, sans-serif
}



.mySection{
  /*background: #C6D4DF;*/
  background:#252044;
  z-index: -9999;
}


#bean{
  position: absolute;
  top:0;
  left:0;
  z-index: -10
}

.showTime{
  opacity: 0;
}

#web{
  margin-top: 0;
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(153, 150, 150, 1);
}

#title{
  position:relative;
  text-align: center;
}

#head{
  margin-top:10%;
}

#head .story{
  font-family: "Lobster";
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 0;
  text-shadow: 1px 1px 2px rgba(153, 150, 150, 1);
}

#about h2{
  margin-top: 20%;
  font-family: "Lobster";
}

h3{
  margin-top: 21%;
  text-align: center;
  text-decoration: underline;

  /*background-color: #ffff00;*/
}


#about{
  text-align: center;
  margin-bottom: 100px;
  max-width: 40%;
  margin-left: 30%;
}

img{
  max-width: 100%;
  height: auto;
}


.picture{
  max-width: 100%;
  height: auto;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0;
}
.col:first-child { margin-left: 0.8%; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 600px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
  .col:first-child { margin-left: 0; }
  h2.story{
    margin-top: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}
