@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow|Lobster);

@font-face {
  font-family: Darleston;
  src:  url('Darleston.otf');
       
}

canvas{
  position: absolute;
  top:0;
  margin-top: 10%;
  max-width: 100%;
  z-index: -999;
}


*{
  color: white;
}


/***************** nav **********************/

nav{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 60px;
  z-index: 99999;
  background: #252044;
}

#myMenu{
  position: absolute;
  right: 0;
  padding-right: 2%;
}

a:hover{
  color: #19B5FE;
  cursor: pointer;
}

li{
  display: inline-block;
  margin: 10px;
}

a:-webkit-any-link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:focus {
  outline:0;
}

#name{
  font-family: Darleston, sans-serif;
  position: absolute;
  font-size: 1.5em;
  top: 5px;
  left: 10px;
  text-align: center;
  line-height: 50px;
}

.nameDown{
  
  color: black;
}

.nameTop{
 
  color: white;
}

#name:hover{
  cursor: pointer;
  color: #19B5FE;

}






/***************** nav **********************/

body{
  margin: 0;
  background-color: #252044;
}



p{
  max-width: 50%;
  margin-left: 25%;
  font-family: "Helvetica Neue", helvetica, sans-serif;
}

.mySection{
  background:#252044;
  z-index: -9999;
}

#testme{
  width: 200px;
  height: 200px;
  background: red;
}


#bean{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  z-index: -10;
  background:#252044 ;
}

.showTime{
  opacity: 0;
}

#web{
  margin-top: 0;
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(153, 150, 150, 1);
}

#title{
  position:relative;
  text-align: center;
}

#head{
  margin-top:10%;
}

#about h2{
  margin-top: 20%;
  font-family: Darleston;
}

#head .story{
  font-family: 'Poiret One';
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 0;
  text-shadow: 1px 1px 2px rgba(153, 150, 150, 1);
}

.skills{
  font-size: 11px;
  font-family: Times;
}



h3{
  margin-top: 21%;
  text-align: center;
  text-decoration: underline;

  /*background-color: #ffff00;*/
}


#about{
  text-align: center;
  margin-bottom: 100px;
  max-width: 40%;
  margin-left: 30%;
}

img{
  max-width: 90%;
  height: auto;
  margin-left: 5%;
}

#contact{

  text-align: center;
}

#contact h3{
    margin-top:5%;
  }


.picture{
  max-width: 100%;
  height: auto;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0;
}
.col:first-child { margin-left: 0.8%; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 600px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
  .col:first-child { margin-left: 0; }
  h2.story{
    margin-top: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}
